<div data-controller="hello">
  <h1 data-hello-target="output"></h1>
</div>

<%= button_to "Do the Thing", [:do_thing], remote: true, method: :patch, form_class: '', class: "", params: { foo_id: 1 } %>
